{% extends 'mall.html.twig' %}

{% block title %}订单支付{% endblock %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#btnPay").on('click',function (){
                //拉起支付...
                location='/mall/order/success?id={{ order.orderNo }}';
            })
        });
    </script>
{% endblock %}

{% block body %}
    <h4>订单下单成功。请30分钟内完成支付！</h4>
    <div style="height:20rem;">
        <div class="row my-3">
            <div class="col-md-2 text-center">
                订单编号
            </div>
            <div class="col-md-8">
                {{ order.orderNo }}
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-2 text-center">
                订单金额
            </div>
            <div class="col-md-8 text-danger fs-5">
                ￥{{ order.realAmount }}
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-2 text-center">
                支付方式
            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pay_method" checked id="pay1" value="wechatpay">
                    <label class="form-check-label" for="pay1">微信支付</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pay_method" id="pay2" value="alipay">
                    <label class="form-check-label" for="pay2">支付宝支付</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pay_method" id="pay3" value="unionpay">
                    <label class="form-check-label" for="pay3">云闪付</label>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-2 text-center">
                &nbsp;
            </div>
            <div class="col-md-8">
                <button type="button" id="btnPay" class="btn btn-danger">立即支付</button>
            </div>
        </div>
    </div>

{% endblock %}
