{% extends 'mall.html.twig' %}

{% block title %}Member index{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#btnUpdate").on('click',function (){
                let url='/mall/member/password';
                let data={
                    userpass:$("#userpass").val(),
                    newpass:$("#newpass").val(),
                    newpass2:$("#newpass2").val(),
                };
                if(data.userpass==''){
                    $("#userpass").focus();
                    return false;
                }
                if(data.newpass==''){
                    $("#newpass").focus();
                    return false;
                }
                if(data.newpass!=data.newpass2){
                    console.log(data);
                    return swal({
                        title: "操作失败",
                        text: '二次密码不一致',
                        icon: "error",
                        button: "OK",
                    });
                    return false;
                }
                $.post(url,data,function (j){
                    if(j.code=='1'){
                        return swal({
                            title: "操作失败",
                            text: j.message,
                            icon: "error",
                            button: "OK",
                        });
                    }
                    return swal({
                        title: "操作成功",
                        text: '更新成功',
                        icon: "success",
                        button: "OK",
                    }).then(()=>{
                        location.reload();
                    });;
                },'json');
            })
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row" style="min-height: 20rem;">
        <div class="col-sm-2 text-center">
            <div class="list-group">
                <a href="javascript:void()" class="list-group-item list-group-item-action active" aria-current="true">
                    会员中心
                </a>
                <a href="/mall/member" class="list-group-item list-group-item-action">个人信息</a>
                <a href="/mall/member/order" class="list-group-item list-group-item-action">我的订单</a>
                <a href="/mall/cart" class="list-group-item list-group-item-action">购物车</a>
                <a href="/mall/address" class="list-group-item list-group-item-action">收货地址</a>
                <a href="/mall/member/password" class="list-group-item list-group-item-action text-danger">更改密码</a>
            </div>
        </div>
        <div class="col-sm-10">
            <h4 style="border-bottom: 1px solid #E1E1E1;padding-bottom: 1rem;">修改密码</h4>
                <div class="mb-3 row">
                    <label for="username" class="col-sm-2 col-form-label">用户名称</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="username" value="{{member.username}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="userpass" class="col-sm-2 col-form-label text-danger">原密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="userpass" name="userpass">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="newpass" class="col-sm-2 col-form-label">更新密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newpass" name="newpass">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="newpass2" class="col-sm-2 col-form-label">二次确认</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newpass2" name="newpass2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto offset-sm-2">
                        <button type="button" id="btnUpdate" class="btn btn-primary">更新</button>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
