{% extends 'bt.html.twig' %}

{% block title %}创建会员{% endblock %}

{% block body %}
    <h1>创建会员</h1>

    <hr/>
    <div class="row">
        <form method="post" class="form" action="{{ path('admin_app_member_new') }}" onsubmit="return normal_submit(this)">

            <div class="form-floating mb-3">
                <input name="username" id="username" type="text" class="form-control" placeholder="请输入..." required/>
                <label for="username" class="control-label">帐号</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" placeholder="请输入..." required/>
                <label for="password" class="control-label">密码</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password2" class="form-control" placeholder="请输入..." required/>
                <label for="password2" class="control-label">密码确认</label>
            </div>
            <div class="form-floating mb-3">
                <input name="phone" id="phone" type="text" class="form-control" placeholder="请输入..." required/>
                <label for="phone" class="control-label">手机</label>
            </div>
            <div class="form-floating mb-3">
                <input name="real_name" id="real_name" type="text" class="form-control" placeholder="请输入..." required/>
                <label for="real_name" class="control-label">姓名</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" aria-label="please select" name="sex">
                    <option value="0">未知</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
                <label for="Email" class="control-label">性别</label>
            </div>
            <div class="form-floating mb-3">
                <input name="mark" id="mark" type="text" class="form-control" placeholder="请输入..." required/>
                <label for="mark" class="control-label">备注</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" aria-label="please select" name="level">
                    <option value="0">默认</option>
                    <option value="1">普</option>
                    <option value="2">金</option>
                    <option value="3">黑</option>
                </select>
                <label for="Email" class="control-label">等级</label>
            </div>
            <div class="col-auto">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div>
        <a href="{{ path('admin_app_member_index') }}">back to list</a>
    </div>
{% endblock %}
